{# it's only for PDF output #}
<!DOCTYPE html>
<html>
    <head>
        <title>NewsFeed</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>

        </style>
    </head>
    <body>
        <h1>{{article.title}} by {{article.user}}</h1>
        <p>
            <img src="uploads/articles/{{article.photo}}"/>
            {{article.text}}
        </p>
    </body>
</html>