{% extends "NewsFeedBundle::base.html.twig" %}

{% block subject %}View{% endblock %}

{% block body %}
        <h1>{{article.title}} by {{article.user}}</h1>
        <p>
            <img src="{{asset('uploads/articles/' ~ article.photo)}}"/>
            {{article.text}}
        </p>
{% endblock %}
