{% extends "NewsFeedBundle::base.html.twig" %}

{% block title %}NewsFeedBundle:Public:view{% endblock %}

{% block body %}
<h1>Welcome to the Public:view page</h1>

{{article.title}}

{% endblock %}
